.top-nav {
    display: flex;
  justify-content: space-around;
  align-items: center;
  height: 56px;
  background-color: white;
  border-top: 1px solid #eee;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.05);
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.nav-logo-link {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  text-decoration: none;
  /* color: inherit; */
}

.nav-title {
  font-size: 1.125rem;
  font-weight: bold;
  vertical-align: middle;
  line-height: 1;
}

.nav-icon {
  width: 22px;
  height: 22px;
  color: #333;
  vertical-align: middle;
}

.nav-icon-small {
  width: 16px;
  height: 16px;
  color: #666;
}
