.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.login-form {
  background: white;
  padding: 2rem;
  /* border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); */
  width: auto
}

.login-form h2 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.login-form p {
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
  color: #555;
}

.login-form label {
  display: block;
  margin-top: 1rem;
  font-size: 0.875rem;
}

.password-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgot-link {
  font-size: 0.75rem;
  color: #555;
  text-decoration: none;
}

.login-form input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.875rem;
}

.login-form input::placeholder {
  color: #aaa;
}


.login-btn {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.6rem;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.875rem;
}

.google-btn {
  margin-top: 0.5rem;
  width: 100%;
  padding: 0.6rem;
  background: #f0f0f0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.875rem;
}

.signup-text {
  margin-top: 1rem;
  font-size: 0.75rem;
  text-align: center;
}
